@import '../bower_components/skeleton/css/normalize.css';
@import '../bower_components/skeleton/css/skeleton.css';

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=VT323);

body, html, #app, .board {
  height: 100%;
  text-align: center;
  background: hsla(9, 100%, 99.5%, 1);
  overflow: auto;
}

a span {
  color: hsla(0, 0%, 65%, 1);
  /*transition: all .25s;*/
  -webkit-user-select: none;
}

a span:hover {
  color: hsla(0, 0%, 30%, 1);
}

.page a span {
  color: hsla(0, 0%, 30%, 1);
  /*transition: all .25s;*/
}

.page {
  position: absolute;
  left: 0; right: 0;
}

* {
  -webkit-transform: translateZ(0);
}
